<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar> Covid 19 stats </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/uganda" routerLinkActive="active"> UGANDA </a>
      <a mat-list-item routerLink="/home" routerLinkActive="active"> EAST AFRICA </a>
      <a mat-list-item routerLink="/dash" routerLinkActive="active"> WORLD </a>
      <a mat-list-item routerLink="/moh_sops" routerLinkActive="active"> MOH SOPs </a>
      <a mat-list-item routerLink="/shop" routerLinkActive="active"> SHOP PPEs </a>
      <a mat-list-item routerLink="/dialog" routerLinkActive="active" class="last_item"> contact us </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Real Time Statistics</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon search-icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    
    <!-- Add Content Here -->
    <!-- <app-uganda></app-uganda> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>