
<mat-toolbar color="dark">
  <mat-toolbar-row>
    <span>Covid-19 Uganda stats</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" [matMenuTriggerFor] = "menu">menu</mat-icon>
  </mat-toolbar-row>

  <mat-menu #menu = "matMenu">
    <button mat-menu-item>first</button>
    <button mat-menu-item>second</button>
  </mat-menu>

</mat-toolbar>

<button mat-button>BASIC</button>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<app-home>
</app-home>

<router-outlet></router-outlet>