<mat-chip-list></mat-chip-list>

<h1>
  SHOP WORKS FR
</h1>

<section class="basic-grid">
  <div class="card">
    <p> 1 </p> 
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <p> 2 </p> 
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <p> 3 </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <p> 4 </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <p> 5 </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <p> 6 </p>
      <mat-chip color="accent" selected>
        <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
      </mat-chip>
  </div>

  <div class="card">
    <p> 7 </p>
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <p>
      8
    </p>
    <mat-chip class="foreeal">
      <span matBadgeOverlap="false" matBadgeSize="large"> 🤒CRITICAL: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <p> 9 </p>
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <p> 10 </p>
      <mat-chip color="accent" selected>
        <span matBadgeOverlap="false" matBadgeSize="medium"> ☺ RECOVERED:  30,000 </span>
      </mat-chip>
  </div>
</section>