<mat-chip-list></mat-chip-list>

<h1>
  SHOP WORKS FR
</h1>

<section class="basic-grid">
  <div class="card">    
    <img src="../../assets/img/face_mask.png" alt="FACE MASK IMAGE" srcset="">    
    <p> Face Masks </p>
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <div class="image">
      <img src="../../assets/img/face.png" alt="FACE SHEILD IMAGE" srcset="">
    </div>  
    <p> Face Sheilds </p> 
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <div class="image">
      <img src="../../assets/img/gloves.png" alt="GLOVES IMAGE" srcset="">
    </div>  
    <p> Gloves </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">
    <div class="image">
      <img src="../../assets/img/rubber_gloves.png" alt="GLOVES IMAGE" srcset="">
    </div>  
    <p> Rubber Gloves </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <div class="image">
      <img src="../../assets/img/sanitizer.png" alt="Sanitizers IMAGE" srcset="">
    </div>    
    <p> Sanitizers </p> 
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <div class="image">
      <img src="../../assets/img/sample.png" alt="TESTING IMAGE" srcset="">
    </div>    
    <p> Testing </p>
      <mat-chip color="accent" selected>
        <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
      </mat-chip>
  </div>

  <div class="card">
    <div class="image">
      <img src="../../assets/img/blood_sample.png" alt="TESTING IMAGE" srcset="">
    </div>    
    <p> Testing kit </p>
    <mat-chip color="accent" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>

  <div class="card">
    <div class="image">
      <img src="../../assets/img/syringe_96px.png" alt="VACCINE IMAGE" srcset="">
    </div>    
    <p>
      Vaccine
    </p>
    <mat-chip class="foreeal">
      <span matBadgeOverlap="false" matBadgeSize="large"> Ugx: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">  
    <img src="../../assets/img/coat.png" alt="COAT IMAGE" srcset="">    
    <p> Protective Coat </p>
    <mat-chip color="dark" selected>
      <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx: 30,000 </span>
    </mat-chip>
  </div>
  
  <div class="card">    
      <img src="../../assets/img/clean.png" alt="HYGIENE IMAGE" srcset="">    
    <p> Cleaning Equipment </p>
      <mat-chip color="accent" selected>
        <span matBadgeOverlap="false" matBadgeSize="medium"> Ugx:  30,000 </span>
      </mat-chip>
  </div>
</section>